@tailwind base;

html {
  @apply font-sans text-dark-100;
}

h1 {
  @apply pb-3 text-4xl;
}

h2 {
  @apply pb-3 text-3xl;
}

h3 {
  @apply pb-3 text-2xl;
}

section p {
  @apply py-4;
}

p a {
  @apply font-semibold;
}

p a:hover {
  @apply underline;
}

@tailwind components;

@tailwind utilities;